
{{outlet}}

{{#each model as |place|}}
<h4 class="business-name">Name: <strong>
{{place.name}}
</strong></h4>
<h4>Address: <strong>
{{place.address}}
<h4>Rating: {{place.rating}}  {{fa-icon "star" style="color:#FFD700;"}}</h4>
<br/>
<img src={{place.img}} />
</strong></h4>
{{/each}}
